{% extends 'dashboard/layout.html' %}
{% load category_tags form_tags i18n staticfiles%}

{% block body_class %} {{ block.super }} create-page catalogue {% endblock %}

{% block title %} {{ title }} | {% trans "Categories" %} | {{ block.super }} {% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
    </li>
    <li>
        <a href="{% url 'dashboard:catalogue-category-list' %}">{% trans "Categories" %}</a>
    </li>
    <li class="active">{{ title }}</li>
</ul>
{% endblock %}

{% block headertext %}{{ title }}{% endblock %}

{% block dashboard_content %}
<div class="table-header">
    <h2>{{ title }}</h2>
</div>
<div class="well">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            {% include 'dashboard/partials/form_field.html' with field=field style=style %}
        {% endfor %}
        <div class="table-header">
            <h2>Applications</h2>
        </div>
        <table class="table">
            {{ category_images.management_form }} {% for form in category_images.forms %}
            <tr class="formset_row">
                {% for field in form.visible_fields %}
                <td>
                    {% if forloop.first %}
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                    {% endif %}
                    {{ field.errors.as_ul }}
                    {% include 'dashboard/partials/form_field.html' with field=field style=style %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <div class="form-group form-actions">
            <button class="btn btn-lg btn-primary" type="submit" data-loading-text="{% trans 'Saving...' %}">{% trans "Save" %}</button>
            {% trans "or" %}
            <a href="#" onclick="window.history.go(-1);return false">{% trans "cancel" %}</a>.
        </div>
    </form>
</div>
</div>
</div>
{% block form_scripts %}
<script src="{% static '/js/jquery.formset.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('.formset_row').formset({
        addText: 'Добавить сткроку',
        deleteText: 'Удалить',
        prefix: 'category_images_set'
    });
})
</script>
{% endblock %} {% endblock dashboard_content %}
