$loader-color: red;
$loader-bg-color: transparent;
.loader {
  height: 4px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: $loader-bg-color;
}

.loader:before {
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: $loader-color;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  from {
    left: -200px;
    width: 30%;
  }
  50% {
    width: 30%;
    background-color: yellow;
  }
  70% {
    width: 70%;

  }
  80% {
    left: 50%;
    background-color: blue;
  }
  95% {
    left: 120%;

  }
  to {
    left: 100%;
  }
}