.add-product-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  z-index: 3; }
  .add-product-form .basket {
    border: solid 1px #a4832b;
    border-radius: 3px;
    padding: 3px;
    height: 300px;
    overflow-y: scroll; }
    .add-product-form .basket-total {
      font-size: 0.8em; }
  .add-product-form-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9); }
  .add-product-form-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    background-color: white;
    padding: 30px;
    box-shadow: 0 0 80px -8px rgba(0, 0, 0, 0.2);
    animation: add-product-form-body 0.2s both;
    border-radius: 3px; }
  .add-product-form-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1.2em;
    color: black; }
  .add-product-form-field {
    margin-bottom: 30px; }
  .add-product-form-field-inputs {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between; }
  .add-product-form-field.dimension button {
    background: #a4832b;
    color: white;
    text-transform: uppercase;
    text-align: center;
    width: 45%;
    border: solid 1px #a4832b;
    border-radius: 2px; }
  .add-product-form-field-inputs-group {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between; }
    .add-product-form-field-inputs-group input, .add-product-form-field-inputs-group button {
      border-radius: 0; }
    .add-product-form-field-inputs-group input:first-child, .add-product-form-field-inputs-group button:first-child {
      border-radius: 3px 0 0 3px; }
    .add-product-form-field-inputs-group input:last-child, .add-product-form-field-inputs-group button:last-child {
      border-radius: 0 3px 3px 0; }
  .add-product-form label {
    display: block;
    font-size: 0.7em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0.7em;
    color: #999; }
  .add-product-form input {
    width: 45%;
    height: 32px;
    font-size: 1em;
    border: 1px solid #a4832b;
    padding: 0 5px;
    border-radius: 3px;
    outline: 0; }
  .add-product-form .switch button {
    background: transparent;
    flex: 1;
    font-size: 0.8em;
    height: 32px;
    border: 1px solid #a4832b;
    border-radius: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    outline: 0;
    color: #a4832b; }
    .add-product-form .switch button:first-child {
      border-radius: 3px 0 0 3px; }
    .add-product-form .switch button:last-child {
      border-left-width: 0;
      border-radius: 0 3px 3px 0; }
    .add-product-form .switch button.active {
      color: white;
      border-color: #a4832b;
      background-color: #a4832b; }
  .add-product-form-submit {
    width: 100%;
    height: 40px;
    background-color: #a4832b;
    font-size: 0.7em;
    font-weight: bold;
    color: white;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    border: 0;
    outline: 0; }
  .add-product-form-product-image {
    max-width: 100px; }
    .add-product-form-product-image img {
      width: 100%; }

.product-basket-line {
  border-bottom: 1px solid #f1f1f1;
  padding: .3em 0;
  animation: pulse .4s linear 1; }
  .product-basket-line-title {
    font-weight: bold; }
  .product-basket-line-attrs {
    font-size: .8em;
    margin: .3em .1em; }

/*# sourceMappingURL=index.css.map */
