.drop-down {
  display: inline-block;
  &-inline {
    display: inline-block;
  }
  &-wrap{
    padding-right: 1em;
  }
  &-content {
    position: absolute;
    display: none;
    &.opened {
      display: block;
    }
  }
  &-btn{
    display: inline-block;
    position: absolute;
  }
}