.drop-down {
  display: inline-block; }
  .drop-down-inline {
    display: inline-block; }
  .drop-down-wrap {
    padding-right: 1em; }
  .drop-down-content {
    position: absolute;
    display: none; }
    .drop-down-content.opened {
      display: block; }
  .drop-down-btn {
    display: inline-block;
    position: absolute; }

/*# sourceMappingURL=index.css.map */
