@keyframes pulse {
  0% {
    background-color: #a4832b;
    opacity: .1; }
  100% {
    background-color: transparent;
    opacity: 1; } }
@keyframes add-product-form-body {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.1); }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); } }

/*# sourceMappingURL=animations.css.map */
