body {
  font-family: 'Montserrat', sans-serif;
}

.luxe-text {
  font-family: 'Merriweather', serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  padding: $luxe-text-padding 0;
  font-size: $luxe-text-height;
  line-height: $luxe-text-height;
  margin: 0;
}

.series-name {
  position: absolute;
  color: white;
  background: $color-gold;
  width: 100%;
  max-width: $container-max-width;
  bottom:  0;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  //padding: 0;
  margin: 0;
  padding:4px 0;
  font-size: $series-name-height;
  line-height: $series-name-height;
  font-weight: 100;
  span{
    text-transform: capitalize;
    font-size:80%;
  }
}