$enable-grid-classes: true;
$container-max-width: 1100px;

$color-gold: rgb(164, 131, 43);
$color-gold-transparent: rgba(164, 131, 43, .1);

$font-color: #000000;
$background-color: rgba(255,255,255,.8);
$font-color-inverse: #ffffff;
$background-color-inverse: rgba(10,10,10,.8);
$luxe-text-height: 32px;
$luxe-text-height-mobile: 32px;
$luxe-text-padding: 21px;
$luxe-text-padding-mobile: 21px;

$nav-height: 16px;
$nav-height-mobile: 16px;
$nav-padding: 6px;
$nav-padding-mobile: 6px;

$series-name-height: 24px;
$series-name-padding: 13px;

$series-name-height: 14px;
$series-name-height-mobile: 14px;
$series-name-padding: 6px;
$series-name-padding-mobile: 13px;

$pagination-height: 16px;
$pagination-height-mobile: 16px;
$pagination-margin-bottom: 6px;
$pagination-margin-bottom-mobile: 6px;

$products-margin-top:  16px + $luxe-text-height + $luxe-text-padding + $luxe-text-padding +$nav-height  + $nav-padding +$pagination-height+ $pagination-margin-bottom;
$products-margin-top-mobile:  32px + $luxe-text-height-mobile + $luxe-text-padding-mobile + $luxe-text-padding-mobile +$nav-height-mobile  + $nav-padding-mobile +$pagination-height-mobile+ $pagination-margin-bottom-mobile;
$products-height: calc(100% - #{$products-margin-top});
$products-height-mobile: calc(100% - #{$products-margin-top-mobile});

$header-height: 64px;
$header-mobile-height: 34px;

$max-width: 960px;

// Products/components/Product
$product-list-width: 240px;
$product-list-padding: 12px;
$product-list-image-height: 12px;
$product-list-image-width: $product-list-width * 0.64;
$product-list-image-height: $product-list-image-width * 1.4;

$product-list-width-mobile: 300px;
$product-list-padding-mobile: 12px;
$product-list-image-width-mobile: $product-list-width-mobile * 0.64;
$product-list-image-height-mobile: $product-list-image-width-mobile * 1.4;










$mark1: rgba(200, 10, 10, .2);
$mark2: rgba(10, 200, 10, .3);
$mark3: rgba(10, 10, 200, .2);
$cool-red: rgba(255, 100, 100, .9);
$cool-green: yellowgreen;

// Fonts
$font-family: 'Roboto', Helvetica, Arial, sans-serif;
$font-color: black;
$links-app-wide-color: yellowgreen;

// Nav
// Цвет подложки меню
$nav-section-background-color: #06aab2;
$nav-section-background: #06aab2;
$nav-text-color: $font-color;

// Layout

// Layout sizes
$header-height: 100px;
$content-holder-margin-top: $header-height;
$content-holder-height: calc(100% - #{$header-height});
$sidebar-background-color: rgba(10, 10, 10, .1);
$container-max-width: 1100px;

// Layout images
$main-background-image: '/static/images/tochka_forum/background.svg';//'/static/images/gradient_blue.png'; //
$main-background-image-moderator: '/static/images/glazzed-bg.jpg';
$main-background-image-4-3: '/static/images/tochka_forum/background.svg';
$main-bg-mobile: '/static/images/tochka_forum/background.svg';//

$logo-desktop: '/static/images/logo_desktop.jpg';
$logo-mobile: '/static/images/logo_mobile.jpg';

// FromInput
$input-color: $font-color;
$input-placeholder-color: $input-color;
$input-border-color: $input-color;
$input-background-color: rgba(0, 0, 0, .01);
$input-error-color: rgba(255, 100, 100, .9);

// Buttons
$button-color: white;
$button-background-color: rgba(102, 192, 93, 1);
$button-border-color: $button-background-color;