@import "../vars.scss";
@import "../font.scss";

html, body, #wrap {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

a, a:visited, a:active {
  color: $color-gold;
}

[class^="col-"] {
  display: flex;
  flex-flow: column nowrap;
}

.col-6 {
  width: 50%;
}


.inverse {
  color: $font-color-inverse;
  background-color: $background-color-inverse;
}

.luxe-text {
  color: $font-color;
}

//.home-page-wrap {
//  .luxe-text, .top-nav {
//    z-index: 3;
//    position: relative;
//    color: $font-color-inverse;
//  }
//}

.home-page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: auto;
  .page-block {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    &-content {
      margin: 2em;
      padding: 2em;
    }
  }
  .series-block {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .series-item {
      position: absolute;
      width: 100%;
      height: 100%;
      &-title {
        font-size: 6em;
        line-height: 100%;
        color: yellow;
        position: absolute;
        top: 50%;
        left: 2em;
        a {
          color: $color-gold;
        }
      }
      &-image {
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
      }
      &-text {
        display: none;
        position: absolute;
        max-width: 60%;
        min-height: 40%;
        top: 20%;
        right: 10%;
        background: rgba(20, 20, 20, .3);
        padding: 1em;
      }
    }
  }
}

@media all and (max-width: 1024px) {

  .home-page {

    .page-block {

      &-content {

      }
    }
    .series-block {

      .series-item {

        &-title {
          font-size: 3em;
          line-height: 100%;
          color: yellow;
          position: absolute;
          top: 80%;
          left: 1em;
          a {
            color: lighten($color-gold, 10%);
          }
        }
        &-image {

        }
        &-text {

        }
      }
    }
  }
}

.text-center{
  text-align: center;
}