body {
  font-family: 'Montserrat', sans-serif; }

.luxe-text {
  font-family: 'Merriweather', serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 21px 0;
  font-size: 32px;
  line-height: 32px;
  margin: 0; }

.series-name {
  position: absolute;
  color: white;
  background: #a4832b;
  width: 100%;
  max-width: 1100px;
  bottom: 0;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  margin: 0;
  padding: 4px 0;
  font-size: 14px;
  line-height: 14px;
  font-weight: 100; }
  .series-name span {
    text-transform: capitalize;
    font-size: 80%; }

html, body, #wrap {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch; }

a, a:visited, a:active {
  color: #a4832b; }

[class^="col-"] {
  display: flex;
  flex-flow: column nowrap; }

.col-6 {
  width: 50%; }

.inverse {
  color: #ffffff;
  background-color: rgba(10, 10, 10, 0.8); }

.luxe-text {
  color: black; }

.home-page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: auto; }
  .home-page .page-block {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover; }
    .home-page .page-block-content {
      margin: 2em;
      padding: 2em; }
  .home-page .series-block {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden; }
    .home-page .series-block .series-item {
      position: absolute;
      width: 100%;
      height: 100%; }
      .home-page .series-block .series-item-title {
        font-size: 6em;
        line-height: 100%;
        color: yellow;
        position: absolute;
        top: 50%;
        left: 2em; }
        .home-page .series-block .series-item-title a {
          color: #a4832b; }
      .home-page .series-block .series-item-image {
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center; }
      .home-page .series-block .series-item-text {
        display: none;
        position: absolute;
        max-width: 60%;
        min-height: 40%;
        top: 20%;
        right: 10%;
        background: rgba(20, 20, 20, 0.3);
        padding: 1em; }

@media all and (max-width: 1024px) {
  .home-page .series-block .series-item-title {
    font-size: 3em;
    line-height: 100%;
    color: yellow;
    position: absolute;
    top: 80%;
    left: 1em; }
    .home-page .series-block .series-item-title a {
      color: #cba237; } }
.text-center {
  text-align: center; }

/*# sourceMappingURL=index.css.map */
