@import "../vars.scss";
$input-file-size: 96px;
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $input-placeholder-color;//
  opacity: 1; /* Firefox */
  font-weight: lighter;
}

$form-input-button-bg: rgba(60, 110, 160, 1); //rgba(240, 67, 108, 1);
$bg-color: rgba(10, 10, 10, .3);


.form-input, .form-input-inline {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 16px;
  &.error {
    margin-bottom: 8px;
  }
  &-feedback {
    line-height: 14px;
    font-size: 14px;
    font-weight: 100;
    padding: 8px 8px 0 8px;
    &.error {
      color: $input-error-color;
    }
  }
  label {
    margin-bottom: 0;
    padding-bottom: 8px;
    font-weight: 200;
    font-size: 14px;
  }
  input[type="file"]{
    display: flex;
    flex-flow: column nowrap;
    background-color: transparent;
    max-width: $input-file-size;
    min-height: $input-file-size;
    background-size: cover;
    background-position: center;
  }
  input[type="number"]{
    max-width: 100px;
  }
  input, textarea, select, fieldset {
    outline: none;
    color: $input-color;
    background-color: $input-background-color;
    border: 1px solid;
    border-color: $input-border-color;
    margin-bottom: 0;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 16px;
    padding: 8px;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    font-weight: normal;
    &.error {
      border-color: $input-error-color;
      &::placeholder {
        color: $input-color; //$font-color

      }
    }
    &::placeholder {
      color: $input-placeholder-color;
      font-weight: normal;
    }
  }
  input:active, input:focus,
  select:active, select:focus,
  textarea:active, textarea:focus {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(0, 0, 0, 0.4);
    box-shadow: 1px 2px 4px rgba(0,0,0,.25);
  }
  textarea {
    padding: 8px;
  }
  button {
    background-color: transparentize($form-input-button-bg, .2);
    border-color: transparentize($form-input-button-bg, .2);
    font-weight: normal;
  }
  input[name="max_selections"] {
    max-width: 7em;
    text-align: right;
  }
}
.form-controls{
  text-align: center;
  button, .btn{
    margin: 4px;
  }
}
//.form-control{
//  button{
//    border-radius: 16px;
//    height: 32px;
//  }
//}
.form-input-inline {
  flex-flow: row nowrap;
}
