::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1;
  /* Firefox */
  font-weight: lighter; }

.form-input, .form-input-inline {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 16px; }
  .form-input.error, .form-input-inline.error {
    margin-bottom: 8px; }
  .form-input-feedback, .form-input-inline-feedback {
    line-height: 14px;
    font-size: 14px;
    font-weight: 100;
    padding: 8px 8px 0 8px; }
    .form-input-feedback.error, .form-input-inline-feedback.error {
      color: rgba(255, 100, 100, 0.9); }
  .form-input label, .form-input-inline label {
    margin-bottom: 0;
    padding-bottom: 8px;
    font-weight: 200;
    font-size: 14px; }
  .form-input input[type="file"], .form-input-inline input[type="file"] {
    display: flex;
    flex-flow: column nowrap;
    background-color: transparent;
    max-width: 96px;
    min-height: 96px;
    background-size: cover;
    background-position: center; }
  .form-input input[type="number"], .form-input-inline input[type="number"] {
    max-width: 100px; }
  .form-input input, .form-input textarea, .form-input select, .form-input fieldset, .form-input-inline input, .form-input-inline textarea, .form-input-inline select, .form-input-inline fieldset {
    outline: none;
    color: black;
    background-color: rgba(0, 0, 0, 0.01);
    border: 1px solid;
    border-color: black;
    margin-bottom: 0;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 16px;
    padding: 8px;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    font-weight: normal; }
    .form-input input.error, .form-input textarea.error, .form-input select.error, .form-input fieldset.error, .form-input-inline input.error, .form-input-inline textarea.error, .form-input-inline select.error, .form-input-inline fieldset.error {
      border-color: rgba(255, 100, 100, 0.9); }
      .form-input input.error::placeholder, .form-input textarea.error::placeholder, .form-input select.error::placeholder, .form-input fieldset.error::placeholder, .form-input-inline input.error::placeholder, .form-input-inline textarea.error::placeholder, .form-input-inline select.error::placeholder, .form-input-inline fieldset.error::placeholder {
        color: black; }
    .form-input input::placeholder, .form-input textarea::placeholder, .form-input select::placeholder, .form-input fieldset::placeholder, .form-input-inline input::placeholder, .form-input-inline textarea::placeholder, .form-input-inline select::placeholder, .form-input-inline fieldset::placeholder {
      color: black;
      font-weight: normal; }
  .form-input input:active, .form-input input:focus,
  .form-input select:active, .form-input select:focus,
  .form-input textarea:active, .form-input textarea:focus, .form-input-inline input:active, .form-input-inline input:focus,
  .form-input-inline select:active, .form-input-inline select:focus,
  .form-input-inline textarea:active, .form-input-inline textarea:focus {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(0, 0, 0, 0.4);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25); }
  .form-input textarea, .form-input-inline textarea {
    padding: 8px; }
  .form-input button, .form-input-inline button {
    background-color: rgba(60, 110, 160, 0.8);
    border-color: rgba(60, 110, 160, 0.8);
    font-weight: normal; }
  .form-input input[name="max_selections"], .form-input-inline input[name="max_selections"] {
    max-width: 7em;
    text-align: right; }

.form-controls {
  text-align: center; }
  .form-controls button, .form-controls .btn {
    margin: 4px; }

.form-input-inline {
  flex-flow: row nowrap; }

/*# sourceMappingURL=index.css.map */
