.category.child {
  font-size: .85em;
  padding-left: .8em; }

.products-filter .categories {
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 4em; }
  .products-filter .categories .category-root {
    margin-right: 2em; }
    .products-filter .categories .category-root-title {
      font-size: 1.5em;
      padding-bottom: 1em; }
  .products-filter .categories .category-child {
    padding: 4px 1em; }

/*# sourceMappingURL=index.css.map */
