.category {
  &.child {
    font-size: .85em;
    padding-left: .8em;
  }
}

.products-filter {
  .categories {
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 4em;
    .category {
      &-root{
        margin-right: 2em;
        &-title{
          font-size: 1.5em;
          padding-bottom: 1em;
        }
      }
      &-child{

        padding: 4px 1em;
      }
    }
  }

}