$hamburger-color: black;

#hamburger {
  //display: none;
}

#hamburger.some {
  display: none;
}

#hamburger {
  width: 22px;
  height: 22px;
  padding: 11px 0 0 11px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  transition: 0.3s ease-in-out;
  display: block;
  span {
    display: block;
    width: 18px;
    height: 2px;
    margin-bottom: 2px;
    position: relative;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 2px 0;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
    background: $hamburger-color;
    &:first-child {
      transform-origin: 0 0;
    }
    &:nth-last-child(1) {
      transform-origin: 0 100%;
    }
  }
  &.opened span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    &:nth-last-child(2) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
    &:nth-last-child(1) {
      opacity: 1;
      transform: rotate(-45deg) translate(-2px, 1px);
    }
  }

}

@media all and (max-width: 1024px) {

}