#hamburger.some {
  display: none; }

#hamburger {
  width: 22px;
  height: 22px;
  padding: 11px 0 0 11px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  transition: 0.3s ease-in-out;
  display: block; }
  #hamburger span {
    display: block;
    width: 18px;
    height: 2px;
    margin-bottom: 2px;
    position: relative;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 2px 0;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    background: black; }
    #hamburger span:first-child {
      transform-origin: 0 0; }
    #hamburger span:nth-last-child(1) {
      transform-origin: 0 100%; }
  #hamburger.opened span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px); }
    #hamburger.opened span:nth-last-child(2) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2); }
    #hamburger.opened span:nth-last-child(1) {
      opacity: 1;
      transform: rotate(-45deg) translate(-2px, 1px); }

/*# sourceMappingURL=index.css.map */
