.flex-row{
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;

}

.flex-row &[class*="col-"] {
    float: none;
    padding-left: 0;
    padding-right: 0;
    display: flex;
	flex-direction: column;
  }

.f-sb{
    justify-content: space-between;
}

.f-sa{
    justify-content: space-around;
}

.f-ais{
    align-items: flex-start;
}
.f-aie{
    align-items: flex-end;
}
.f-aic{
    align-items: center;
}

.f-jcs{
    justify-content: flex-start;
}

.f-jce{
    justify-content: flex-end;
}

.f-jcc{
    justify-content: center;
}

.flex-col{
	display: flex;
	flex-direction: column;
}