// OSCAR PAGE STRUCTURE
// -----------
a:focus {
  outline: none !important
}

h1, h2, h3, h4, h5, h6, body {
  font-family: 'Lato'
}

h2 {
  text-transform: uppercase
}

h1, h2, h3, h4, h5, h6 {
  a:hover {
    text-decoration: none;
  }
}

header {
  padding: 40px 0;
}

.container-fluid {
  // Here is the page width: editable in page/mixins.less
  max-width: @oscarpagewidth;
}

.row {
  .box-sizing(border-box);
}

// Some padding for the inner container
// Also useful for mobile
.page_inner {
  padding: @grid-gutter-width;
  .clearfix();
}

.footer {
  padding: 40px 0;
}

.products {

}

.col-content {
  padding: 0 0 0 0;
}

.nav-left {
  margin: 120px 0 0 0;
}

.navbar-mini-cart {
  padding: 7px 0 0 15px
}

.btn-styled,
.btn-styled:active,
.btn-styled:hover,
.btn-styled:focus,
.btn-styled:visited {
  background: #2c3e50;
  color: #ffffff;
}
#mini-cart{
  .quick-cart-total{

    padding: 0;
    .total{
      padding:10px 15px ;
      margin: 0;
    }
  }
}

.bk {
  background-color: rgba(255, 255, 255, 0.6)
}

.side-categories {
  position: fixed;
  top: 120px;
}

.background-picture {
  z-index: -1;
  width: 100%;
  height: 380px;
  margin: 0 0 40px 0;
  background-size: cover;
  background-position: center
}

.bg-white {
  background: #ffffff;
}

.pager {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-content: center;
  .current {
    padding: 6px 14px;
  }
}

.no-big-pic .content {
  padding-top: 50px
}

.full-width {
  width: 100%
}

.basket-items .thumbnail{
  height: 100px;
  width: 100px;
  overflow: hidden;
  text-align: center;
}