/*
 * Author: http://stuffandnonsense.co.uk/blog/about/hardboiled_css3_media_queries/
 */

/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

}

/* Smartphones (landscape) ----------- */

@media only screen and (min-width: 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */

@media only screen and (max-width: 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
}

/* Desktops and laptops ----------- */

@media only screen and (min-width: 1224px) {
  /* Styles */
}

/* Large screens ----------- */

@media only screen and (min-width: 1824px) {
  /* Styles */
}

/* iPhone 4 ----------- */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}

/* iPads (portrait) ----------- */

@media only screen and (orientation: portrait) {
  /* Styles */
  header {
    display: none;
  }

  .products {
    .item {
      height: 90%;
      width: 90%;
      margin: auto;
    }
  }

  .sidebar {
    display: none;
  }

  .category-structure {
    .list-item {
      margin: 0 5px 5px 0;
      width: 46%;
      height: 100px;
    }
  }

  .applications {
    .list-item {
      width: 100%;
    }
  }

  .page {
    padding: 60px 0 0 0;
  }

  #mini-cart {
    .dropdown-menu {
      width: 100%;
    }
    .image_container {
      width: 90px;
      height: 90px;
      overflow: hidden;
    }
  }
}
