
.products {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px 0;

  .item {
    margin: 20px 0;
    width: 23%;
    /*background: rgba(0,105,214,.25);*/
    .image {
      text-align: center;
      img {
        width: 100%;
      }
    }
    h3, .price, .availability {
      margin: 10px;
      text-align: center
    }
    .stock-record {
      padding: 0 5px;
    }
    .price {
      font-weight: bold;
      color: #b33451;

    }
    .availability {

    }

  }
}

.image_container {
  width: 100%;
  min-height: @imagecontainerheight;
  overflow: hidden;
  text-align: center;
  position: relative;
  img {
    max-height: @imagecontainerheight - 10px;
    max-width: 100%;
    width: auto;
    margin: 0px auto;
  }
}

// Add a hover state for thumbnail
a:hover .thumbnail {
  border-color: @link-color;
  .box-shadow(0 1px 4px rgba(0, 105, 214, .25));
}

.category-structure {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  margin: 40px 0;
  .list-item {
    display: block;
    position: relative;
    margin: 0 20px 20px 0;
    width: 29%;
    height: 200px;
    background-size: cover;
    background-position: center;
  }
  .title {
    font-weight: bold;
    position: absolute;
    background: #2c3e50;
    color: #ffffff;
    padding: 10px;
    bottom: 10px;
    left: 0;
  }
}

.applications {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  margin: 40px 0;
  .list-item {
    display: block;
    position: relative;
    margin: 0 20px 20px 0;
    width: 29%;
    height: 200px;
    background-size: cover;
    background-position: center;
  }
  .application-description {

    font-weight: bold;
    position: absolute;
    background: rgba(44, 62, 80, 0.8);
    color: #ffffff;
    padding: 10px;
    bottom: 10px;
    left: 0;

  }
}

.product_page {
  margin: 120px 0 0 0;
}