.form-input.login-form {
  min-width: 450px; }
  .form-input.login-form-input {
    color: #e6e6e6; }
    .form-input.login-form-input ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #cccccc;
      font-weight: 100;
      letter-spacing: 1px; }
    .form-input.login-form-input ::-moz-placeholder {
      /* Firefox 19+ */
      color: #cccccc;
      font-weight: 100;
      letter-spacing: 1px; }
    .form-input.login-form-input :-ms-input-placeholder {
      /* IE 10+ */
      color: #cccccc;
      font-weight: 100;
      letter-spacing: 1px; }
    .form-input.login-form-input :-moz-placeholder {
      /* Firefox 18- */
      color: #cccccc;
      font-weight: 100;
      letter-spacing: 1px; }

.login-user-select {
  display: flex;
  flex-flow: row nowrap;
  padding: 16px 0;
  align-items: stretch; }
  .login-user-select button {
    display: flex;
    flex-grow: 1;
    border: 0;
    border-radius: 0;
    font-size: 16px;
    line-height: 16px;
    padding: 8px; }
    .login-user-select button.active {
      background-color: #0b759b; }
.login-form {
  padding: 1em;
  max-width: 300px;
  margin: 0 auto; }
  .login-form .form-input {
    display: flex;
    flex-flow: column nowrap; }
    .login-form .form-input label, .login-form .form-input input, .login-form .form-input select, .login-form .form-input button {
      margin-bottom: 8px;
      font-size: 16px;
      line-height: 16px;
      border-radius: 4px;
      border: solid 1px;
      border-color: black; }
    .login-form .form-input label {
      border: 0;
      text-transform: capitalize; }
    .login-form .form-input input {
      padding: 8px; }
    .login-form .form-input button {
      margin-top: 16px;
      padding: 8px; }

@media all and (max-width: 1024px) {
  .login-form {
    min-width: 350px; } }

/*# sourceMappingURL=index.css.map */
