$placeholder-color: darken(white, 20);
$placeholder-letter-spacing: 1px;
.form-input.login-form {
  min-width: 450px;
  &-input {
    color: darken(white, 10);

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $placeholder-color;
      font-weight: 100;
      letter-spacing: $placeholder-letter-spacing;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: $placeholder-color;
      font-weight: 100;
      letter-spacing: $placeholder-letter-spacing;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: $placeholder-color;
      font-weight: 100;
      letter-spacing: $placeholder-letter-spacing;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: $placeholder-color;
      font-weight: 100;
      letter-spacing: $placeholder-letter-spacing;
    }
  }

}

.login {
  &-user-select {
    display: flex;
    flex-flow: row nowrap;
    padding: 16px 0;
    align-items: stretch;
    button {
      display: flex;
      flex-grow: 1;
      border: 0;
      border-radius: 0;
      font-size: 16px;
      line-height: 16px;
      padding: 8px;
      &.active {
        background-color: #0b759b;
      }
    }
  }
  &-form {
    padding: 1em;
    max-width: 300px;
    margin: 0 auto;
    .form-input {
      display: flex;
      flex-flow: column nowrap;
      label, input, select, button {
        margin-bottom: 8px;
        font-size: 16px;
        line-height: 16px;
        border-radius: 4px;
        border: solid 1px;
        border-color: black;
      }
      label {
        border: 0;
        text-transform: capitalize;
      }
      input {
        padding: 8px;

      }
      button {
        margin-top: 16px;
        padding: 8px;
      }
    }
  }
}

@media all and (max-width: 1024px) {
  .login-form {
    min-width: 350px
  }
}