html, body, #wrap {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch; }

a, a:visited, a:active {
  color: #a4832b; }

[class^="col-"] {
  display: flex;
  flex-flow: column nowrap; }

.col-6 {
  width: 50%; }

#wrap .container {
  height: 100%; }

.inverse {
  color: #ffffff;
  background-color: rgba(10, 10, 10, 0.8); }

.luxe-text {
  color: #000000; }

.home-page-wrap .luxe-text, .home-page-wrap .top-nav {
  z-index: 3;
  position: relative;
  color: #ffffff; }

.home-page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: auto; }
  .home-page .page-block {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover; }
    .home-page .page-block-content {
      margin: 2em;
      padding: 2em; }
  .home-page .series-block {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden; }
    .home-page .series-block .series-item {
      position: absolute;
      width: 100%;
      height: 100%; }
      .home-page .series-block .series-item-title {
        font-size: 6em;
        line-height: 100%;
        color: yellow;
        position: absolute;
        top: 50%;
        left: 2em; }
        .home-page .series-block .series-item-title a {
          color: #a4832b; }
      .home-page .series-block .series-item-image {
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center; }
      .home-page .series-block .series-item-text {
        display: none;
        position: absolute;
        max-width: 60%;
        min-height: 40%;
        top: 20%;
        right: 10%;
        background: rgba(20, 20, 20, 0.3);
        padding: 1em; }

@media all and (max-width: 1024px) {
  .home-page .series-block .series-item-title {
    font-size: 3em;
    line-height: 100%;
    color: yellow;
    position: absolute;
    top: 80%;
    left: 1em; }
    .home-page .series-block .series-item-title a {
      color: #cba237; } }
.auth-view {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9); }
  .auth-view-body {
    position: absolute;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    background-color: white;
    padding: 30px;
    box-shadow: 0 0 80px -8px rgba(0, 0, 0, 0.2);
    animation: add-product-form-body 0.2s both;
    border-radius: 3px; }
  .auth-view-form {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    min-height: 300px;
    align-items: center;
    justify-content: center; }

@keyframes pulse {
  0% {
    background-color: #a4832b;
    opacity: .1; }
  100% {
    background-color: transparent;
    opacity: 1; } }
@keyframes add-product-form-body {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.1); }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); } }
.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-light {
  color: #b3b3b3; }

.btn {
  text-decoration: none;
  display: inline-block;
  padding: .7em 1em; }

.btn:hover {
  background: #a4832b;
  color: white; }

.btn, button {
  background: transparent;
  flex: 1;
  font-size: 0.8em;
  border: 1px solid #a4832b;
  border-radius: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  outline: 0;
  color: #a4832b; }

.controls {
  text-align: right; }

.control {
  cursor: pointer;
  font-size: 12px;
  border: none;
  background: none;
  border-bottom: solid 2px #000000;
  padding: 2px 0;
  margin: .2em 0.2em .2em 0; }

.control.gold {
  background: #a4832b;
  color: white;
  border: none;
  padding: 0 5px 2px 5px;
  border-radius: 2px; }

body {
  font-family: 'Montserrat', sans-serif; }

.luxe-text {
  font-family: 'Merriweather', serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 21px 0;
  font-size: 32px;
  line-height: 32px;
  margin: 0; }

.series-name {
  position: absolute;
  color: white;
  background: #a4832b;
  width: 100%;
  max-width: 1100px;
  bottom: 0;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  margin: 0;
  padding: 4px 0;
  font-size: 14px;
  line-height: 14px;
  font-weight: 100; }
  .series-name span {
    text-transform: capitalize;
    font-size: 80%; }

.container {
  max-width: 1100px;
  margin: 0 auto;
  position: relative; }

.row {
  display: flex;
  flex-direction: row; }

.hidden {
  display: none; }

.basket-view {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1em; }

.basket-title {
  display: block;
  font-size: 0.7em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0.7em;
  padding-bottom: 0.3em;
  color: #999;
  border-bottom: 3px solid #f1f1f1; }
.basket-total {
  text-align: right;
  font-size: 1em;
  padding-top: 0.3em;
  border-top: 3px solid #f1f1f1;
  color: #aaa; }
  .basket-total b {
    color: black;
    font-weight: bold;
    font-size: 1.2em; }
.basket-line {
  height: 100px;
  margin: 15px 0;
  padding-bottom: 15px;
  padding-left: 100px;
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: contain;
  border-bottom: 1px solid #f1f1f1;
  animation: pulse 1s ease 0; }
.basket-line-title {
  font-size: 1em;
  font-weight: bold;
  margin: 0 0 1em 0; }
.basket-line-meta {
  display: flex;
  flex-flow: row nowrap; }
.basket-line-size {
  font-size: 1em;
  color: #aaa;
  width: 100px;
  padding: 0 12px;
  margin: 0 10px 0 auto;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
.basket-line-quantity {
  font-size: 1em;
  color: #aaa;
  width: 100px;
  padding: 0 12px;
  margin: 0 10px 0 0;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
.basket-line-price {
  font-size: 1em;
  width: 100px;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.checkout-success {
  max-width: 600px;
  margin: 0 auto; }

.checkout-view-form {
  width: 100%;
  height: calc(100% - 134px);
  overflow-y: scroll;
  padding-top: 2em;
  padding-bottom: 3em; }
  .checkout-view-form .basket {
    border: solid 1px #a4832b;
    border-radius: 3px;
    padding: 3px;
    height: 300px;
    overflow-y: scroll; }
    .checkout-view-form .basket-total {
      font-size: 0.8em; }
  .checkout-view-form-body {
    display: flex;
    flex-flow: column nowrap;
    max-width: 600px;
    margin: 0 auto; }
    .checkout-view-form-body .form-input {
      flex: 1;
      align-self: stretch;
      margin-bottom: 1em; }
  .checkout-view-form-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1.2em;
    color: black; }
  .checkout-view-form-field {
    margin-bottom: 30px; }
  .checkout-view-form-field-inputs {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between; }
  .checkout-view-form-field.dimension button {
    background: #a4832b;
    color: white;
    text-transform: uppercase;
    text-align: center;
    width: 45%;
    border: solid 1px #a4832b;
    border-radius: 2px; }
  .checkout-view-form .switch button {
    background: transparent;
    flex: 1;
    font-size: 0.8em;
    height: 32px;
    border: 1px solid #a4832b;
    border-radius: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    outline: 0;
    color: #a4832b; }
    .checkout-view-form .switch button:first-child {
      border-radius: 3px 0 0 3px; }
    .checkout-view-form .switch button:last-child {
      border-radius: 0 3px 3px 0; }
    .checkout-view-form .switch button.active {
      color: white;
      border-color: #a4832b;
      background-color: #a4832b; }
  .checkout-view-form-submit {
    width: 100%;
    height: 40px;
    background-color: #a4832b;
    font-size: 0.7em;
    font-weight: bold;
    color: white;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    border: 0;
    outline: 0; }
  .checkout-view-form-product-image {
    max-width: 100px; }
    .checkout-view-form-product-image img {
      width: 100%; }

nav {
  font-size: 16px;
  line-height: 16px;
  height: 16px;
  padding: 6px 0;
  position: relative; }

.top-nav {
  z-index: 2;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center; }

.nav-link {
  cursor: pointer;
  color: #0c5460;
  padding: 0;
  margin: 0 .4em;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block; }
  .nav-link.active {
    color: #a4832b;
    border-bottom: solid 2px #a4832b; }

.pagination {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  text-transform: uppercase;
  height: 16px;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 6px;
  max-width: 1100px;
  position: relative; }
  .pagination span {
    font-size: 16px;
    line-height: 16px;
    margin: 0;
    padding: 0;
    border: none; }
  .pagination .pagination-next {
    margin-left: auto; }
  .pagination .pagination-previous {
    margin-right: auto; }

.products {
  display: flex;
  flex-flow: row wrap;
  height: calc(100% - 134px);
  overflow-y: scroll;
  max-width: 1100px;
  margin: 0 auto;
  position: relative; }

.product {
  width: 30%;
  padding: 10px 0; }
  .product-title {
    font-size: 1.2em; }
  .product-image {
    min-height: 380px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain; }
    .product-image img {
      width: 100%; }
  .product-controls {
    display: flex;
    flex-flow: row nowrap;
    height: 30px;
    margin: -3em auto 3em auto;
    z-index: 10;
    justify-content: center; }
    .product-controls span {
      display: inline-block;
      letter-spacing: 1px;
      border-radius: 4px;
      font-size: 12px;
      text-transform: uppercase;
      line-height: 100%;
      background: rgba(0, 0, 0, 0.6);
      padding: .6em 1.2em 1.5em 1.2em;
      margin-right: .9em;
      color: white;
      border: solid 1px rgba(255, 255, 255, 0.3); }
  .product-details {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto; }
    .product-details-bg {
      position: absolute;
      width: 100%;
      height: 100%; }
    .product-details-body {
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      background-color: white; }
    .product-details-body-content {
      border-radius: 3px;
      padding: 10px;
      width: 90%;
      height: 90%;
      overflow-y: scroll;
      box-shadow: 0 0 80px -8px rgba(0, 0, 0, 0.2); }
      .product-details-body-content .product-image {
        width: auto; }
        .product-details-body-content .product-image img {
          width: 100%; }

.add-product-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  z-index: 3; }
  .add-product-form .basket {
    border: solid 1px #a4832b;
    border-radius: 3px;
    padding: 3px;
    height: 300px;
    overflow-y: scroll; }
    .add-product-form .basket-total {
      font-size: 0.8em; }
  .add-product-form-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9); }
  .add-product-form-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    background-color: white;
    padding: 30px;
    box-shadow: 0 0 80px -8px rgba(0, 0, 0, 0.2);
    animation: add-product-form-body 0.2s both;
    border-radius: 3px; }
  .add-product-form-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1.2em;
    color: black; }
  .add-product-form-field {
    margin-bottom: 30px; }
  .add-product-form-field-inputs {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between; }
  .add-product-form-field.dimension button {
    background: #a4832b;
    color: white;
    text-transform: uppercase;
    text-align: center;
    width: 45%;
    border: solid 1px #a4832b;
    border-radius: 2px; }
  .add-product-form-field-inputs-group {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between; }
    .add-product-form-field-inputs-group input, .add-product-form-field-inputs-group button {
      border-radius: 0; }
    .add-product-form-field-inputs-group input:first-child, .add-product-form-field-inputs-group button:first-child {
      border-radius: 3px 0 0 3px; }
    .add-product-form-field-inputs-group input:last-child, .add-product-form-field-inputs-group button:last-child {
      border-radius: 0 3px 3px 0; }
  .add-product-form label {
    display: block;
    font-size: 0.7em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0.7em;
    color: #999; }
  .add-product-form input {
    width: 45%;
    height: 32px;
    font-size: 1em;
    border: 1px solid #a4832b;
    padding: 0 5px;
    border-radius: 3px;
    outline: 0; }
  .add-product-form .switch button {
    background: transparent;
    flex: 1;
    font-size: 0.8em;
    height: 32px;
    border: 1px solid #a4832b;
    border-radius: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    outline: 0;
    color: #a4832b; }
    .add-product-form .switch button:first-child {
      border-radius: 3px 0 0 3px; }
    .add-product-form .switch button:last-child {
      border-left-width: 0;
      border-radius: 0 3px 3px 0; }
    .add-product-form .switch button.active {
      color: white;
      border-color: #a4832b;
      background-color: #a4832b; }
  .add-product-form-submit {
    width: 100%;
    height: 40px;
    background-color: #a4832b;
    font-size: 0.7em;
    font-weight: bold;
    color: white;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    border: 0;
    outline: 0; }
  .add-product-form-product-image {
    max-width: 100px; }
    .add-product-form-product-image img {
      width: 100%; }

.product-basket-line {
  border-bottom: 1px solid #f1f1f1;
  padding: .3em 0;
  animation: pulse .4s linear 1; }
  .product-basket-line-title {
    font-weight: bold; }
  .product-basket-line-attrs {
    font-size: .8em;
    margin: .3em .1em; }

.product-series {
  position: absolute;
  background: white;
  width: 300px;
  margin: 0 auto;
  left: 0;
  right: 0;
  border: 1px solid #a4832b; }
  .product-series-item {
    cursor: pointer;
    color: #a4832b;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center center;
    border-bottom: solid 1px #a4832b;
    text-align: center; }
    .product-series-item-title {
      padding: 1em 0; }
  .product-series-item:hover, .product-series-item.active {
    background: #a4832b;
    color: white; }
  .product-series-item:last-child {
    border-bottom: none; }

.carousel {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1; }
  .carousel-hidden {
    display: none; }
  .carousel-next {
    position: absolute;
    right: 1em;
    top: 50%;
    height: 1.5em;
    margin-top: -.75em;
    /* account for padding and border if not using box-sizing: border-box; */ }
  .carousel-previous {
    position: absolute;
    left: 1em;
    top: 50%;
    height: 1.5em;
    margin-top: -.75em; }
  .carousel-current {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; }

.form-input {
  display: flex;
  flex-flow: column nowrap; }

label {
  display: block;
  font-size: 0.7em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0.7em;
  color: #999; }

input, textarea {
  width: auto;
  height: 32px;
  font-size: 14px;
  font-weight: 100;
  border: 1px solid #a4832b;
  padding: 0 .5em;
  border-radius: 3px;
  outline: 0; }

textarea {
  min-height: 6em; }

@media (max-width: 1024px) {
  [class^="basket-line-"] {
    width: 100%;
    margin: 0;
    padding: 0; }

  .container {
    width: calc(100% - 2em);
    margin: 0 auto; }

  .basket-line {
    height: auto;
    background-size: auto 100px;
    background-position: left center; }
    .basket-line-meta {
      flex-flow: column nowrap; }

  .add-product-form-title {
    margin-bottom: .9em; }

  .products {
    height: calc(100% - 150px); } }
@media (min-width: 769px) {
  .product {
    width: 30%;
    margin-right: 5%; }
    .product:nth-child(3n+3) {
      margin-right: 0; }
    .product-tile {
      font-size: .7em; } }
@media (max-width: 768px) {
  .product {
    width: 45%;
    margin-right: 5%; }
    .product:nth-child(2n+2) {
      margin-right: 0; } }
@media (max-width: 600px) {
  .luxe-text {
    padding: 21px 0;
    font-size: 32px;
    height: 32px;
    margin: 0; }

  .product {
    width: 100%;
    margin: 0 auto 10px auto; }
    .product-title {
      text-align: center; }

  .add-product-form {
    background: white;
    z-index: 100; }
    .add-product-form-bg {
      display: none; }
    .add-product-form-body {
      padding: 2% 10px 0 10px;
      height: 98%;
      box-shadow: none;
      border: none; }

  .page-block-content {
    padding: 1em !important;
    margin: 1em !important; }

  .series-block .series-item-title {
    font-size: 3em;
    line-height: 100%;
    color: yellow;
    position: absolute;
    top: 50%;
    left: 2em; }
  .series-block .series-item-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center; }
  .series-block .series-item-text {
    position: absolute;
    max-width: 60%;
    min-height: 40%;
    top: 20%;
    right: 10%;
    background: rgba(20, 20, 20, 0.3);
    padding: 1em; } }
@media (max-width: 320px) {
  [class^="basket-line-"] {
    width: 100%;
    margin: 0;
    padding: 0; }

  .basket-line {
    height: 60px;
    font-size: 0.6em;
    background-size: auto 100px;
    background-position: left center; }
    .basket-line-meta {
      flex-flow: column nowrap; }

  .product {
    width: 90%;
    margin: 0 auto 10px auto; }

  .add-product-form .basket {
    max-height: 270px; }
  .add-product-form-body {
    padding: 2px 10px; }
  .add-product-form-field {
    margin-bottom: 14px; }
  .add-product-form-submit {
    height: 32px;
    font-size: 0.5em; }
  .add-product-form label {
    font-size: 0.54em;
    margin-bottom: 0.5em; }
  .add-product-form input {
    height: 24px;
    font-size: .5em; } }

/*# sourceMappingURL=index.css.map */
