@import '../vars';

$content-top-margin: 8px + $header-height;
$content-top-mobile-margin: 8px + $header-mobile-height;
section#content{
  position: absolute;
  top: $content-top-margin;
  width: 100%;
  height: calc(100% - #{$header-height});
  overflow-y: scroll;
}

@media all and (max-width: 600px){
  section#content{
  position: absolute;
  top: $content-top-mobile-margin;
  width: 100%;
  height: calc(100% - #{$header-mobile-height});
  overflow-y: scroll;
}
}