section#content {
  position: absolute;
  top: 108px;
  width: 100%;
  height: calc(100% - 100px);
  overflow-y: scroll; }

@media all and (max-width: 600px) {
  section#content {
    position: absolute;
    top: 42px;
    width: 100%;
    height: calc(100% - 34px);
    overflow-y: scroll; } }

/*# sourceMappingURL=index.css.map */
