@import '../../../../components/vars';

$top-margin: $header-height;
$top-margin-mobile: $header-mobile-height;
.products-filter {
  position: fixed;
  width: 960px;
  margin-left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  z-index: 10;
  top: $top-margin;
  background-color: white;

  &-bar {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border-bottom: solid 1px;
    &-title {
      font-size: 1em;
      line-height: 1em;
      padding-left: 1em;
    }
  }

  &-wrap {
    position: relative;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s ease-in;
    &-content {
      padding: 1em;
    }
    &.opened {
      max-height: 600px;
      overflow-y: auto;

      box-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
    }
  }
}

@media all and (max-width: 960px) {
  .products-filter {
    width: 100%;
  }
}

@media all and (max-width: 600px) {
  .products-filter {
    top: $top-margin-mobile;
  }
}
