.products-filter {
  position: fixed;
  width: 960px;
  margin-left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  z-index: 10;
  top: 100px;
  background-color: white; }
  .products-filter-bar {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border-bottom: solid 1px; }
    .products-filter-bar-title {
      font-size: 1em;
      line-height: 1em;
      padding-left: 1em; }
  .products-filter-wrap {
    position: relative;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s ease-in; }
    .products-filter-wrap-content {
      padding: 1em; }
    .products-filter-wrap.opened {
      max-height: 600px;
      overflow-y: auto;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25); }

@media all and (max-width: 960px) {
  .products-filter {
    width: 100%; } }
@media all and (max-width: 600px) {
  .products-filter {
    top: 34px; } }

/*# sourceMappingURL=index.css.map */
