.auth-view {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
  &-body {
    position: absolute;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    background-color: white;
    padding: 30px;
    box-shadow: 0 0 80px -8px rgba(0, 0, 0, 0.2);
    animation: add-product-form-body 0.2s both;
    border-radius: 3px;
  }
  &-form{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    min-height: 300px;
    align-items: center;
    justify-content: center;
  }
}