.btn{
  text-decoration: none;
  display: inline-block;
  padding: .7em 1em;
}

.btn:hover{
  background: $color-gold;
  color: white;
}

.btn, button {
  background: transparent;
  flex: 1;
  font-size: 0.8em;
  border: 1px solid $color-gold;
  border-radius: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  outline: 0;
  color: $color-gold;
}

.controls {
  text-align: right;
}

.control {
  cursor: pointer;
  font-size: 12px;
  border: none;
  background: none;
  border-bottom: solid 2px $font-color;
  padding: 2px 0;
  margin: .2em 0.2em .2em 0;
}

.control {
  &.gold {
    background: $color-gold;
    color: white;
    border: none;
    padding: 0 5px 2px 5px;
    border-radius: 2px;
  }
}