.carousel {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  &-hidden {
    display: none;
  }
  &-next {
    position: absolute;
    right: 1em;
    top: 50%;
    height: 1.5em;
    margin-top: -.75em; /* account for padding and border if not using box-sizing: border-box; */
  }

  &-previous {
    position: absolute;
    left: 1em;
    top: 50%;
    height: 1.5em;
    margin-top: -.75em;
  }

  &-current {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }

}
