.checkout-success{
  max-width: 600px;
  margin: 0 auto;
}

.checkout-view-form {
  width: 100%;
  height: $products-height;
  overflow-y: scroll;
  padding-top: 2em;
  padding-bottom: 3em;
  .basket {
    border: solid 1px $color-gold;
    border-radius: 3px;
    padding: 3px;
    height: 300px;
    overflow-y: scroll;
    &-total {
      font-size: 0.8em;
    }
  }
  &-body {
    display: flex;
    flex-flow: column nowrap;
    max-width: 600px;
    margin: 0 auto;
    .form-input {
      flex: 1;
      align-self: stretch;
      margin-bottom: 1em;
    }
  }

  &-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1.2em;
    color: black;
  }

  &-field {
    margin-bottom: 30px;
  }

  &-field-inputs {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

  }
  &-field.dimension {
    button {
      background: $color-gold;
      color: white;
      text-transform: uppercase;
      text-align: center;
      width: 45%;
      border: solid 1px $color-gold;
      border-radius: 2px;
    }
  }



  .switch button {
    background: transparent;
    flex: 1;
    font-size: 0.8em;
    height: 32px;
    border: 1px solid $color-gold;
    border-radius: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    outline: 0;
    color: $color-gold;

    &:first-child {
      border-radius: 3px 0 0 3px;
    }

    &:last-child {
      border-radius: 0 3px 3px 0;
    }

    &.active {
      color: white;
      border-color: $color-gold;
      background-color: $color-gold;
    }
  }

  &-submit {
    width: 100%;
    height: 40px;
    background-color: $color-gold;
    font-size: 0.7em;
    font-weight: bold;
    color: white;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    border: 0;
    outline: 0;
  }
  &-product-image {
    max-width: 100px;
    img {
      width: 100%;
    }
  }
}