.form-input {
  display: flex;
  flex-flow: column nowrap;
}

label {
  display: block;
  font-size: 0.7em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0.7em;
  color: #999;
}

input, textarea {
  width: auto;
  height: 32px;
  font-size: 14px;
  font-weight: 100;
  border: 1px solid $color-gold;
  padding: 0 .5em;
  border-radius: 3px;
  outline: 0;
}

textarea {
  min-height: 6em;
}