@media (max-width: 1024px) {
  [class^="basket-line-"] {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .container {
    width: calc(100% - 2em);
    margin: 0 auto;
  }
  .basket-line {
    height: auto;
    background-size: auto 100px;
    background-position: left center;
    &-meta {
      flex-flow: column nowrap;
    }
  }
  .add-product-form {
    &-title {
      margin-bottom: .9em;
    }
  }
  .products {
    height: $products-height-mobile;
  }


}

// Small devices (landscape phones, 576px and up)
@media (min-width: 769px) {
  .product {
    width: 30%;
    margin-right: 5%;
    &:nth-child(3n+3) {
      margin-right: 0;
    }
    &-tile {
      font-size: .7em;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .product {
    width: 45%;
    margin-right: 5%;
    &:nth-child(2n+2) {
      margin-right: 0;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 600px) {
  .luxe-text {
    padding: $luxe-text-padding-mobile 0;
    font-size: $luxe-text-height-mobile;
    height: $luxe-text-height-mobile;
    margin: 0;
  }
  .product {
    width: 100%;
    margin: 0 auto 10px auto;
    &-title {
      text-align: center;
    }
  }
  .add-product-form {
    background: white;
    z-index: 100;
    &-bg {
      display: none;
    }
    &-body {
      padding: 2% 10px 0 10px;
      height: 98%;
      box-shadow: none;
      border:none;
    }
  }
  .page-block-content{
    padding: 1em !important;
    margin: 1em !important;
  }
  .series-block {

    .series-item {

      &-title {
        font-size: 3em;
        line-height: 100%;
        color: yellow;
        position: absolute;
        top: 50%;
        left: 2em;
      }
      &-image {
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
      }
      &-text {
        position: absolute;
        max-width: 60%;
        min-height: 40%;
        top: 20%;
        right: 10%;
        background: rgba(20, 20, 20, .3);
        padding: 1em;
      }
    }
  }
}


@media (max-width: 320px) {
  [class^="basket-line-"] {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .basket-line {
    height: 60px;
    font-size: 0.6em;
    background-size: auto 100px;
    background-position: left center;
    &-meta {
      flex-flow: column nowrap;
    }
  }
  .product {
    width: 90%;
    margin: 0 auto 10px auto;
  }

  .add-product-form {
    .basket {
      max-height: 270px;
    }
    &-body {
      padding: 2px 10px;
    }
    &-field {
      margin-bottom: 14px;
    }
    &-submit {
      height: 32px;
      font-size: 0.5em;
    }
    label {
      font-size: 0.54em;
      margin-bottom: 0.5em;
    }
    input {
      height: 24px;
      font-size: .5em;
    }
  }

}