.pagination {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  text-transform: uppercase;
  height: $pagination-height;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: $pagination-margin-bottom;
  max-width: 1100px;
  position: relative;
  span {
    font-size: $pagination-height;
    line-height: $pagination-height;
    margin: 0;
    padding: 0;
    border: none;
  }
  .pagination-next {
    margin-left: auto;
  }
  .pagination-previous {
    margin-right: auto;
  }
}