.products {
  display: flex;
  flex-flow: row wrap;
  height: $products-height;
  overflow-y: scroll;
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

.product {
  width: 30%;
  padding: 10px 0;
  &-title {
    font-size: 1.2em;
  }
  &-image {
    min-height: 380px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    img {
      width: 100%;
    }
  }
  &-controls {
    display: flex;
    flex-flow: row nowrap;
    height: 30px;

    margin: -3em auto 3em auto;
    z-index: 10;
    justify-content: center;
    span {
      display: inline-block;
      letter-spacing: 1px;
      border-radius: 4px;
      font-size: 12px;
      text-transform: uppercase;
      line-height: 100%;
      background: rgba(0, 0, 0, .6);
      padding: .6em 1.2em 1.5em 1.2em;
      margin-right: .9em;
      color: white;
      border: solid 1px rgba(255, 255, 255, .3);
    }

  }
  &-details {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;

    &-bg {
      position: absolute;
      width: 100%;
      height: 100%;

    }
    &-body {

      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      //transform: translate(-50%, -50%) scale(1);
      background-color: rgba(255, 255, 255, 1);
    }
    &-body-content {
      border-radius: 3px;
      padding: 10px;
      width: 90%;
      height: 90%;
      overflow-y: scroll;
      box-shadow: 0 0 80px -8px rgba(0, 0, 0, 0.2);
      .product-image {
        width: auto;
        img {
          width: 100%;
        }
      }

    }

  }
}

//.add-product-form-body {
//  .basket {
//    height: 300px;
//    overflow-y: auto;
//  }
//  .basket-total{
//    font-size: 0.8em;
//  }
//}

.add-product-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  z-index: 3;
  .basket {
    border: solid 1px $color-gold;
    border-radius: 3px;
    padding: 3px;
    height: 300px;
    overflow-y: scroll;
    &-total {
      font-size: 0.8em;
    }
  }
  &-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
  }

  &-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    background-color: white;
    padding: 30px;
    box-shadow: 0 0 80px -8px rgba(0, 0, 0, 0.2);
    animation: add-product-form-body 0.2s both;
    border-radius: 3px;
  }

  &-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1.2em;
    color: black;
  }

  &-field {
    margin-bottom: 30px;
  }

  &-field-inputs {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

  }

  &-field.dimension {
    button {
      background: $color-gold;
      color: white;
      text-transform: uppercase;
      text-align: center;
      width: 45%;
      border: solid 1px $color-gold;
      border-radius: 2px;
    }
  }
  &-field-inputs-group {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    input, button {
      border-radius: 0;
    }
    input, button {
      &:first-child {
        border-radius: 3px 0 0 3px;
      }
    }
    input, button {
      &:last-child {
        border-radius: 0 3px 3px 0;
      }
    }

  }
  label {
    display: block;
    font-size: 0.7em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0.7em;
    color: #999;
  }

  input {
    width: 45%;
    height: 32px;
    font-size: 1em;
    border: 1px solid $color-gold;
    padding: 0 5px;
    border-radius: 3px;
    outline: 0;
  }

  .switch button {
    background: transparent;
    flex: 1;
    font-size: 0.8em;
    height: 32px;
    border: 1px solid $color-gold;
    border-radius: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    outline: 0;
    color: $color-gold;

    &:first-child {
      border-radius: 3px 0 0 3px;
    }

    &:last-child {
      border-left-width: 0;
      border-radius: 0 3px 3px 0;
    }

    &.active {
      color: white;
      border-color: $color-gold;
      background-color: $color-gold;
    }
  }

  &-submit {
    width: 100%;
    height: 40px;
    background-color: $color-gold;
    font-size: 0.7em;
    font-weight: bold;
    color: white;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    border: 0;
    outline: 0;
  }
  &-product-image {
    max-width: 100px;
    img {
      width: 100%;
    }
  }
}

.product-basket-line {
  border-bottom: 1px solid #f1f1f1;
  padding: .3em 0;
  animation: pulse .4s linear 1;
  &-title {
    font-weight: bold;
  }
  &-attrs {
    font-size: .8em;
    margin: .3em .1em;
  }
}

.product-series {
  position: absolute;
  background: rgba(255, 255, 255, 1);
  width: 300px;
  margin: 0 auto;
  left: 0;
  right: 0;
  border: 1px solid $color-gold;
  &-item {
    cursor: pointer;
    color: $color-gold;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center center;
    border-bottom: solid 1px $color-gold;
    text-align: center;
    &-title {
      padding: 1em 0;
      //background: rgba(255, 255, 255, .6);
    }
  }
  &-item:hover,
  &-item.active {
    background: $color-gold;
    color: white;
  }
  &-item:last-child {
    border-bottom: none;
  }
}
