{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=0, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,900|Montserrat:400,700&amp;subset=cyrillic" rel="stylesheet">

    <title>{% block title %}{% endblock %}</title>
</head>
<body class="">
<div id="wrap">
    {% block content %}Страница не существует{% endblock content %}
</div>
</body>
</html>

