{% extends "layout.html" %}
{% load promotion_tags %}

{% block body_class %}backgrounded{% endblock %}
<!--http://localhost:8000/media/images/promotions/_coc03_1085_syncron_frappe.jpg-->
{% block content_wrapper %}
<div class="container-fluid page">
        {% block breadcrumbs %}{% endblock %}
        <div class="row">
            <aside class="sidebar col-sm-3 col-md-2">
                {% block column_left %}{% endblock %}
                <div id="promotions_left">
                    {% for promotion in promotions_left %}
                        {% render_promotion promotion %}
                    {% endfor %}
                </div>
            </aside>
            {% block header %}
                    <h2 class="text-uppercase">{% block headertext %}{% endblock %}</h2>
                {% endblock %}
            {% include "partials/alert_messages.html" %}
            <div class="col-content col-sm-9 col-md-10">
                <div class="promotions">
                    {% for promotion in promotions_page %}
                        {% render_promotion promotion %}
                    {% endfor %}
                </div>
                {% block content %}{% endblock %}
            </div>

        </div><!-- /row -->
</div><!-- /container-fluid -->
{% endblock %}
