{% extends "base.html" %}
{% load staticfiles %}
{% load promotion_tags %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}"/>
{% endblock %}

{% block layout %}


    {% include "partials/nav_top.html" %}


    {# Main content of page - other layout templates may override this block #}
    {% block content_wrapper %}

        {% block back_pic %}
            <div class="background-picture hidden-xs"
                 style="background-image:url({% block back_pic_url %}{% endblock %});"></div>{% endblock %}
        <div class="container-fluid page">

            {% block breadcrumbs %}{% endblock %}
            {% block header %}
                <h2>{% block headertext %}{% endblock %}</h2>
            {% endblock %}
            {% include "partials/alert_messages.html" %}
            {% block subnavigation %}{% endblock %}
            <div id="content_inner" class="content col-content">
                {% block subheader %}{% endblock subheader %}

                {# Render promotions #}
                <div id="promotions">
                    {% for promotion in promotions_page %}
                        {% render_promotion promotion %}
                    {% endfor %}
                </div>

                {# Div exists for AJAX updates to entire content section #}
                {% block content %}{% endblock %}
            </div>
        </div>
    {% endblock %}

    {% include "partials/footer.html" %}
{% endblock %}

{% block cdn_scripts %}
    {{ block.super }}
    {% if use_less and debug %}
        {# Load the on-the-fly less compiler. Never do this in production. #}
        <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
    {% endif %}
{% endblock %}

{# Local scripts #}
{% block scripts %}
    {{ block.super }}
    <!-- Twitter Bootstrap -->
    <script type="text/javascript" src="{% static "oscar/js/bootstrap3/bootstrap.min.js" %}"></script>
    <!-- Oscar -->
    <script src="{% static "oscar/js/oscar/ui.js" %}" type="text/javascript" charset="utf-8"></script>


    <script src="{% static "oscar/js/bootstrap-datetimepicker/bootstrap-datetimepicker.js" %}" type="text/javascript"
            charset="utf-8"></script>
    <script src="{% static "oscar/js/bootstrap-datetimepicker/locales/bootstrap-datetimepicker.all.js" %}"
            type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block extrascripts %}
    {% include "partials/extrascripts.html" %}
    {{ block.super }}
{% endblock %}

{% block onbodyload %}
    {{ block.super }}
    oscar.init();
{% endblock %}
