$enable-grid-classes: true;
$container-max-width: 1100px;

$color-gold: rgb(164, 131, 43);
$color-gold-transparent: rgba(164, 131, 43, .1);

$font-color: #000000;
$background-color: rgba(255,255,255,.8);
$font-color-inverse: #ffffff;
$background-color-inverse: rgba(10,10,10,.8);
$luxe-text-height: 32px;
$luxe-text-height-mobile: 32px;
$luxe-text-padding: 21px;
$luxe-text-padding-mobile: 21px;

$nav-height: 16px;
$nav-height-mobile: 16px;
$nav-padding: 6px;
$nav-padding-mobile: 6px;

$series-name-height: 24px;
$series-name-padding: 13px;

$series-name-height: 14px;
$series-name-height-mobile: 14px;
$series-name-padding: 6px;
$series-name-padding-mobile: 13px;

$pagination-height: 16px;
$pagination-height-mobile: 16px;
$pagination-margin-bottom: 6px;
$pagination-margin-bottom-mobile: 6px;

$products-margin-top:  16px + $luxe-text-height + $luxe-text-padding + $luxe-text-padding +$nav-height  + $nav-padding +$pagination-height+ $pagination-margin-bottom;
$products-margin-top-mobile:  32px + $luxe-text-height-mobile + $luxe-text-padding-mobile + $luxe-text-padding-mobile +$nav-height-mobile  + $nav-padding-mobile +$pagination-height-mobile+ $pagination-margin-bottom-mobile;
$products-height: calc(100% - #{$products-margin-top});
$products-height-mobile: calc(100% - #{$products-margin-top-mobile});