.product {
  display: flex;
  flex-flow: column nowrap;
  width: 240px;
  padding: 1em .8em;
  margin-bottom: .8em;
  box-sizing: border-box; }
  .product-category {
    font-size: .8em;
    line-height: .8em;
    padding: .8em 0;
    color: #595b64; }
  .product-title {
    font-size: 1.2em; }
  .product-image {
    height: 215.04px;
    margin: 0 auto;
    width: 153.6px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    overflow: hidden; }
    .product-image img {
      width: 100%; }
    .product-image-wrap {
      padding: 1em;
      background-color: #eeeeee;
      border-radius: 5px; }
  .product-price {
    text-align: right;
    margin-bottom: .8em; }
    .product-price .currency {
      font-size: .8em; }
  .product-controls {
    display: flex;
    margin-top: auto;
    flex-flow: row nowrap;
    height: 30px;
    border-radius: 5px; }
    .product-controls .btn {
      display: inline-block;
      height: 32px;
      margin-right: 2px;
      color: #595b64;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
      border-color: transparent; }
    .product-controls .btn:hover {
      background-color: #eeeeee;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25); }
    .product-controls .btn:last-child {
      margin-right: 0; }
  .product-details {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto; }
    .product-details-bg {
      position: absolute;
      width: 100%;
      height: 100%; }
    .product-details-body {
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      background-color: white; }
    .product-details-body-content {
      border-radius: 3px;
      padding: 10px;
      width: 90%;
      height: 90%;
      overflow-y: scroll;
      box-shadow: 0 0 80px -8px rgba(0, 0, 0, 0.2); }
      .product-details-body-content .product-image {
        width: auto; }
        .product-details-body-content .product-image img {
          width: 100%; }

@media all and (max-width: 600px) {
  .product {
    width: 300px; }
    .product-category {
      font-size: .65em;
      color: #595b64; }
    .product-title {
      font-size: .95em; }
    .product-image {
      height: 268.8px;
      margin: 0 auto;
      width: 192px;
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 5px;
      overflow: hidden; }
      .product-image img {
        width: 100%; }
      .product-image-wrap {
        padding: 1em;
        background-color: #eeeeee;
        border-radius: 5px; } }

/*# sourceMappingURL=index.css.map */
