@import '../../../../components/vars';



.product {
  display: flex;
  flex-flow: column nowrap;
  width: $product-list-width;
  padding: 1em .8em;
  margin-bottom: .8em;

  box-sizing: border-box;
  &-category {
    font-size: .8em;
    line-height: .8em;
    padding: .8em 0;
    color: #595b64;
  }
  &-title {
    font-size: 1.2em;
  }
  &-image {
    height: $product-list-image-height;
    margin: 0 auto;
    width: $product-list-image-width;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    overflow: hidden;
    img {
      width: 100%;
    }
    &-wrap {
      padding: 1em;
      background-color: #eeeeee;
      border-radius: 5px;
    }
  }
  &-price {
    text-align: right;
    margin-bottom: .8em;
    .currency {
      font-size: .8em;
    }
  }
  &-controls {
    display: flex;
    margin-top: auto;
    flex-flow: row nowrap;
    height: 30px;
    border-radius: 5px;

    .btn-order {

    }
    .btn {
      display: inline-block;
      height: 32px;
      margin-right: 2px;
      color: #595b64;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, .25);
      border-color: transparent;

    }
    .btn:hover {
      background-color: #eeeeee; ///rgba(255,255,255,.8);//
      box-shadow: 0px 2px 2px rgba(0, 0, 0, .25);
    }
    .btn:last-child {
      margin-right: 0;
    }
  }

  &-details {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;

    &-bg {
      position: absolute;
      width: 100%;
      height: 100%;

    }
    &-body {

      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      //transform: translate(-50%, -50%) scale(1);
      background-color: rgba(255, 255, 255, 1);
    }
    &-body-content {
      border-radius: 3px;
      padding: 10px;
      width: 90%;
      height: 90%;
      overflow-y: scroll;
      box-shadow: 0 0 80px -8px rgba(0, 0, 0, 0.2);
      .product-image {
        width: auto;
        img {
          width: 100%;
        }
      }

    }

  }
}

@media all and (max-width: 600px) {
  .product {
    width: $product-list-width-mobile;
    &-category {
      font-size: .65em;
      color: #595b64;
    }
    &-title {
      font-size: .95em;
    }
    &-image {
      height: $product-list-image-height-mobile;
      margin: 0 auto;
      width: $product-list-image-width-mobile;
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 5px;
      overflow: hidden;
      img {
        width: 100%;
      }
      &-wrap {
        padding: 1em;
        background-color: #eeeeee;
        border-radius: 5px;
      }
    }
  }
}