.carousel {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1; }
  .carousel-item {
    width: 100%;
    height: 0;
    opacity: 0;
    transition: opacity 900ms ease-in-out; }
    .carousel-item.current {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      overflow-x: hidden;
      opacity: 1; }
  .carousel-controls {
    position: absolute;
    bottom: 2em;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.75);
    padding: .4em 1em;
    border-radius: .4em; }
    .carousel-controls .btn {
      color: white;
      margin-right: 2em; }
    .carousel-controls .btn:last-child {
      color: white;
      margin-right: 0; }
  .carousel-next {
    position: absolute;
    right: 1em;
    top: 50%;
    height: 1.5em;
    margin-top: -.75em;
    /* account for padding and border if not using box-sizing: border-box; */ }
  .carousel-previous {
    position: absolute;
    left: 1em;
    top: 50%;
    height: 1.5em;
    margin-top: -.75em; }

/*# sourceMappingURL=index.css.map */
