nav {
  font-size: 16px;
  line-height: 16px;
  height: 16px;
  padding: 6px 0;
  position: relative; }

.top-nav {
  z-index: 2;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end; }
  .top-nav .products .drop-down-content.opened {
    background-color: #e3e3e3;
    width: 960px;
    margin: 0 auto; }

.nav-link {
  cursor: pointer;
  color: #0c5460;
  padding: 0;
  margin: 0 .4em;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block; }
  .nav-link.active {
    color: #a4832b;
    border-bottom: solid 2px #a4832b; }

/*# sourceMappingURL=index.css.map */
