@import "../vars.scss";

nav {
  font-size: $nav-height;
  line-height: $nav-height;
  height: $nav-height;
  padding: $nav-padding 0;
  position: relative;
}

.top-nav {
  z-index: 2;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  .products {
    .drop-down-content.opened {
      background-color: #e3e3e3;
      width: 960px;
      margin: 0 auto;
    }
  }
}

.nav-link {
  cursor: pointer;
  color: #0c5460;
  padding: 0;
  margin: 0 .4em;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  &.active {
    color: $color-gold;
    border-bottom: solid 2px $color-gold;
  }
}