@import '../../../../components/vars';

.products {
  padding-top: 1.5em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  &-section {
    padding-bottom: 64px;
  }
}

@media screen and (max-width: 600px) {
  .products {
    justify-content: center;
    &-section {
      padding-bottom: 64px;
    }
  }
}