.products {
  padding-top: 1.5em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }
  .products-section {
    padding-bottom: 64px; }

@media screen and (max-width: 600px) {
  .products {
    justify-content: center; }
    .products-section {
      padding-bottom: 64px; } }

/*# sourceMappingURL=index.css.map */
