.btn {
  text-decoration: none;
  display: inline-block;
  padding: .7em 1em; }

.btn {
  background-color: transparent;
  font-size: 16px;
  line-height: 16px;
  padding: 7px;
  border: 1px solid;
  border-color: transparent;
  border-radius: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  outline: 0;
  color: black; }

.btn:hover {
  border-color: #a4832b;
  color: #a4832b; }

.controls {
  text-align: right; }

.control {
  cursor: pointer;
  font-size: 12px;
  border: none;
  background: none;
  border-bottom: solid 2px black;
  padding: 2px 0;
  margin: .2em 0.2em .2em 0; }

.control.gold {
  background: #a4832b;
  color: white;
  border: none;
  padding: 0 5px 2px 5px;
  border-radius: 2px; }

/*# sourceMappingURL=index.css.map */
