@import "../vars";

.btn {
  text-decoration: none;
  display: inline-block;
  padding: .7em 1em;
}

.btn {
  background-color: transparent;
  font-size: 16px;
  line-height: 16px;
  padding: 7px;
  border: 1px solid;
  border-color: transparent;
  border-radius: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  outline: 0;
  color: $font-color;
}

.btn:hover {
  border-color: $color-gold;
  color: $color-gold;
}



.controls {
  text-align: right;
}

.control {
  cursor: pointer;
  font-size: 12px;
  border: none;
  background: none;
  border-bottom: solid 2px $font-color;
  padding: 2px 0;
  margin: .2em 0.2em .2em 0;
}

.control {
  &.gold {
    background: $color-gold;
    color: white;
    border: none;
    padding: 0 5px 2px 5px;
    border-radius: 2px;
  }
}