.basket-view {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1em; }

.basket-title {
  display: block;
  font-size: 0.7em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0.7em;
  padding-bottom: 0.3em;
  color: #999;
  border-bottom: 3px solid #f1f1f1; }
.basket-total {
  text-align: right;
  font-size: 1em;
  padding-top: 0.3em;
  border-top: 3px solid #f1f1f1;
  color: #aaa; }
  .basket-total b {
    color: black;
    font-weight: bold;
    font-size: 1.2em; }
.basket-line {
  height: 100px;
  margin: 15px 0;
  padding-bottom: 15px;
  padding-left: 100px;
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: contain;
  border-bottom: 1px solid #f1f1f1;
  animation: pulse 1s ease 0; }
.basket-line-title {
  font-size: 1em;
  font-weight: bold;
  margin: 0 0 1em 0; }
.basket-line-meta {
  display: flex;
  flex-flow: row nowrap; }
.basket-line-size {
  font-size: 1em;
  color: #aaa;
  width: 100px;
  padding: 0 12px;
  margin: 0 10px 0 auto;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
.basket-line-quantity {
  font-size: 1em;
  color: #aaa;
  width: 100px;
  padding: 0 12px;
  margin: 0 10px 0 0;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
.basket-line-price {
  font-size: 1em;
  width: 100px;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

/*# sourceMappingURL=index.css.map */
