.loading-c {
  margin-top: -50px;
  padding: 2em 3em;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 2em; }
  .loading-c-title {
    text-align: center; }

/*# sourceMappingURL=index.css.map */
