header {
  z-index: 20;
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7); }
  header .container {
    height: 100%;
    max-width: 960px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 0 auto; }
  header h1.luxe-text {
    display: inline-block;
    margin: 0;
    padding: .5em 1em;
    position: absolute; }
  header .top-nav-wrap {
    margin-left: auto; }

@media all and (max-width: 960px) {
  header .container {
    width: 100%;
    min-width: 100%;
    padding: 0 1em;
    box-sizing: border-box; } }
@media all and (max-width: 600px) {
  header h1.luxe-text {
    font-size: 1em;
    line-height: 64px;
    padding: 0 0 0 1em; } }
@media all and (max-width: 500px) {
  header {
    height: 34px; }
    header h1.luxe-text {
      display: none; } }

/*# sourceMappingURL=index.css.map */
