@import '../../components/vars';


//.add-product-form-body {
//  .basket {
//    height: 300px;
//    overflow-y: auto;
//  }
//  .basket-total{
//    font-size: 0.8em;
//  }
//}



.product-series {
  position: absolute;
  background: rgba(255, 255, 255, 1);
  width: 300px;
  margin: 0 auto;
  left: 0;
  right: 0;
  border: 1px solid $color-gold;
  &-item {
    cursor: pointer;
    color: $color-gold;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center center;
    border-bottom: solid 1px $color-gold;
    text-align: center;
    &-title {
      padding: 1em 0;
      //background: rgba(255, 255, 255, .6);
    }
  }
  &-item:hover,
  &-item.active {
    background: $color-gold;
    color: white;
  }
  &-item:last-child {
    border-bottom: none;
  }
}
