.product-series {
  position: absolute;
  background: white;
  width: 300px;
  margin: 0 auto;
  left: 0;
  right: 0;
  border: 1px solid #a4832b; }
  .product-series-item {
    cursor: pointer;
    color: #a4832b;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center center;
    border-bottom: solid 1px #a4832b;
    text-align: center; }
    .product-series-item-title {
      padding: 1em 0; }
  .product-series-item:hover, .product-series-item.active {
    background: #a4832b;
    color: white; }
  .product-series-item:last-child {
    border-bottom: none; }

/*# sourceMappingURL=index.css.map */
