@import '../vars';

.pagination {
  position: fixed;
  left: 0;
  bottom: 2em;
  width: 100%;
  text-transform: uppercase;
  box-sizing: border-box;
  .control {
    display: inline-block;
    font-size: $pagination-height;
    //line-height: $pagination-height;
    border: none;
  }

  &-next {
    margin-left: auto;
  }
  &-previous {
    margin-right: auto;
  }
  &-controls {
    display: flex;
    flex-flow: row nowrap;
    max-width: 960px;
    margin: 0 auto;

    .btn {
      text-transform: uppercase;
      background: $color-gold;
      color: white;
    }
  }
}