.pagination {
  position: fixed;
  left: 0;
  bottom: 2em;
  width: 100%;
  text-transform: uppercase;
  box-sizing: border-box; }
  .pagination .control {
    display: inline-block;
    font-size: 16px;
    border: none; }
  .pagination-next {
    margin-left: auto; }
  .pagination-previous {
    margin-right: auto; }
  .pagination-controls {
    display: flex;
    flex-flow: row nowrap;
    max-width: 960px;
    margin: 0 auto; }
    .pagination-controls .btn {
      text-transform: uppercase;
      background: #a4832b;
      color: white; }

/*# sourceMappingURL=index.css.map */
